body {
    background-color: #767DE4;
}

.wrapper {
    background-color: whitesmoke;
    width: 90%;
    height:90%;
    border: 0.6em solid black;
    padding: 1em;
    margin: 2em auto;
    
}

.buscador {
    text-align: right;
}

.titulo {
    text-align: center;
    margin: 2em auto;
}

.article {
    margin: 2em 3em 4em;
}